USC-data/node_0/x_test_1harmony-USC/clientnpy
USC-data/node_0/x_test_2harmony-USC/clientnpy
USC-data/node_0/x_train_1harmony-USC/clientnpy
USC-data/node_0/x_train_2harmony-USC/clientnpy
USC-data/node_0/y_testharmony-USC/clientnpy
USC-data/node_0/y_trainharmony-USC/clientnpy
harmony-USC/client/__pycache__/communicationharmony-USC/clientcpython-37harmony-USC/clientpyc
harmony-USC/client/__pycache__/data_preharmony-USC/clientcpython-37harmony-USC/clientpyc
harmony-USC/client/__pycache__/modelharmony-USC/clientcpython-37harmony-USC/clientpyc
harmony-USC/client/__pycache__/utilharmony-USC/clientcpython-37harmony-USC/clientpyc

harmony-USC/client/save_fedfuse_results
harmony-USC/client/save_fedfuse_results/node_0
harmony-USC/client/save_fedfuse_results/node_0/USC-HAR_results
harmony-USC/client/__pycache__
harmony-USC/client/save_uni_FL
harmony-USC/client/save_uni_FL/USC-HAR_models
harmony-USC/client/save_uniFL_results
harmony-USC/client/save_uniFL_results/node_0
harmony-USC/client/save_uniFL_results/node_0/USC-HAR_results
USC-data/node_0/x_test_1.npy
USC-data/node_0/x_test_2.npy
USC-data/node_0/x_train_1.npy
USC-data/node_0/x_train_2.npy
USC-data/node_0/y_test.npy
USC-data/node_0/y_train.npy
